<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Cajas de Cartón</title>
</head>
<body>
    <header>
        <nav>
            <span>
                <a href="/">Home</a> |
                <a href="zipcodes">Código Postal</a>
            </span>
        </nav>
        <hr>
    </header>
    <!-- INICIO CONTENIDO -->
    {% block %}{% endblock %}
    <!-- FIN CONTENIDO -->
    <footer>
        <span>&copy 2020 gutiproyect.com</span>
    </footer>
</body>
</html>